/* Card component */
.card {
  background-color: var(--op-color-background);
  overflow: hidden;
  color-scheme: light dark;
}

.card-title {
  font-size: var(--op-font-medium);
}
.card-description {
  font-size: var(--op-font-2x-small);
  opacity: 0.5;
}

.card[data-theme-mode='light'] {
  color-scheme: light;
}

.card[data-theme-mode='dark'] {
  color-scheme: dark;
}

.card-header {
  padding: var(--op-space-medium) var(--op-space-large);
  border-bottom: var(--op-border-width) solid var(--op-color-border);
  background-color: var(--op-color-neutral-plus-seven);
}

.card-body {
  padding: var(--op-space-large);
}

.tab[data-state='active'] {
  box-shadow: var(--__op-tab-indicator) var(--op-color-primary-plus-one);
}

/* Aligned header with centered suffix (e.g., badge/icon next to title) */
.aligned-header {
  display: inline-flex;
  align-items: start;
  justify-content: center;
  gap: var(--op-space-x-small);
}

.aligned-header__centered-suffix {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}

.badge--outline {
  border-color: var(--op-color-border);
  border-width: var(--op-border-width);
  border-style: solid;
  border-radius: var(--op-radius-pill);
  padding: var(--op-space-2x-small) var(--op-space-small);
  font-size: var(--op-font-small);
  font-weight: var(--op-font-weight-medium);
  color: var(--op-color-neutral-on-plus-max);
  background-color: var(--op-color-background);
}

.btn {
  font-weight: var(--op-font-weight-semi-bold) !important;
}

.container {
  max-inline-size: var(--op-breakpoint-large) !important;
}
