:root {
  --op-font-family:
    'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --op-color-primary-h: 208;
  --op-color-primary-s: 56%;
  --op-color-primary-l: 53%;
  --op-shadow-color: #0000000d;
}

/* Card component */
.card {
  background-color: var(--op-color-background);
  overflow: hidden;
  color-scheme: light dark;
}

.card[data-theme-mode='light'] {
  color-scheme: light;
}

.card[data-theme-mode='dark'] {
  color-scheme: dark;
}

.card-header {
  padding: var(--op-space-medium) var(--op-space-large);
  border-bottom: 1px solid var(--op-color-border);
  background-color: var(--op-color-neutral-plus-seven);
}

.card-body {
  padding: var(--op-space-large);
}

.tab[data-state='active'] {
  box-shadow: var(--__op-tab-indicator) var(--op-color-primary-plus-one);
}
