:root {
  --shadow-color: 0deg 0% 50%;
  --op-shadow-small:
    0px 0.6px 0.7px hsl(var(--shadow-color) / 0.18),
    0.1px 0.9px 1.1px -1.1px hsl(var(--shadow-color) / 0.2),
    0.2px 1.9px 2.2px -2.2px hsl(var(--shadow-color) / 0.22) !important;
  --op-shadow-medium:
    0px 0.6px 0.7px hsl(var(--shadow-color) / 0.15),
    0.1px 1.4px 1.6px -0.5px hsl(var(--shadow-color) / 0.16),
    0.2px 2.6px 3.1px -1.1px hsl(var(--shadow-color) / 0.17),
    0.4px 4.9px 5.8px -1.6px hsl(var(--shadow-color) / 0.18),
    0.8px 9.3px 10.9px -2.2px hsl(var(--shadow-color) / 0.19) !important;
  --op-shadow-large:
    0px 0.6px 0.7px hsl(var(--shadow-color) / 0.14),
    0.2px 2.1px 2.5px -0.2px hsl(var(--shadow-color) / 0.15),
    0.3px 3.5px 4.1px -0.5px hsl(var(--shadow-color) / 0.15),
    0.4px 5.1px 6px -0.7px hsl(var(--shadow-color) / 0.16),
    0.6px 7.3px 8.6px -1px hsl(var(--shadow-color) / 0.16),
    0.8px 10.2px 12px -1.2px hsl(var(--shadow-color) / 0.16),
    1.2px 14.2px 16.7px -1.5px hsl(var(--shadow-color) / 0.17),
    1.6px 19.6px 23px -1.7px hsl(var(--shadow-color) / 0.17),
    2.2px 26.6px 31.2px -2px hsl(var(--shadow-color) / 0.17),
    2.9px 35.6px 41.8px -2.2px hsl(var(--shadow-color) / 0.18) !important;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme-mode='light']) {
    --shadow-color: 0deg 0% 20%;
  }
}
