:root {
  --shadow-color: 0deg 0% 69%;
  --op-shadow-small: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.28),
    0.4px 0.7px 0.8px -1.6px hsl(var(--shadow-color) / 0.24),
    0.8px 1.6px 1.8px -3.2px hsl(var(--shadow-color) / 0.19);
  --op-shadow-medium: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.3),
    0.6px 1.2px 1.4px -1.1px hsl(var(--shadow-color) / 0.26),
    1.6px 3.2px 3.6px -2.2px hsl(var(--shadow-color) / 0.23),
    4.1px 8.2px 9.3px -3.2px hsl(var(--shadow-color) / 0.19);
  --op-shadow-large: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.27),
    0.8px 1.6px 1.8px -0.5px hsl(var(--shadow-color) / 0.26),
    1.5px 2.9px 3.3px -0.9px hsl(var(--shadow-color) / 0.24),
    2.5px 5px 5.7px -1.4px hsl(var(--shadow-color) / 0.23),
    4.2px 8.4px 9.5px -1.9px hsl(var(--shadow-color) / 0.21),
    6.8px 13.7px 15.5px -2.3px hsl(var(--shadow-color) / 0.2),
    10.7px 21.3px 24.1px -2.8px hsl(var(--shadow-color) / 0.18),
    16px 32px 36.2px -3.2px hsl(var(--shadow-color) / 0.16);
}
