:root {
  --op-font-family:
    'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif !important;
  /* --op-font-family-alt: var(--geist-mono); */
  --op-color-primary-h: 216;
  --op-color-primary-s: 51%;
  --op-color-primary-l: 46%;
  --op-color-neutral-h: 60;
  /* --op-color-primary-s: 2%;
  --op-color-primary-l: 62%; */
  --op-shadow-color: #0000000d;
  --purple: var(--brand-Purple);
  --orange: var(--brand-Orange);
  --light-green: var(--brand-Medium-Green);
  --light-blue: var(--brand-Bright-Blue);
  --bright-yellow: var(--brand-Bright-Yellow);
  /* rolemodelsoftware.com - Light */
  --brand-RM-Blue: #3a70b3;
  --brand-RM-Logo-Blue: #2a84f8;
  --brand-RM-Dark-Blue: #193c64;
  --brand-Bright-Blue: #87d4e9ff;
  --brand-Dark-Blue-Green: #04242bff;
  --brand-Blue-Green: #27434dff;
  --brand-Purple: #3c194a;
  --brand-Light-Purple: #a998c9ff;
  --brand-Medium-Green: #86c774;
  --brand-Dark-Green: #538c5e;
  --brand-Light-Green: #b3d99aff;
  --brand-Orange: #ffcd74ff;
  --brand-Bright-Yellow: #fcf496;
  --brand-Yellow: #fcf49633;
  --neutral-100: #fafafaff;
  --neutral-200: #edededff;
  --neutral-300: #e3e3e3ff;
  --neutral-400: #d8d8d7ff;
  --neutral-500: #cdcdccff;
  --neutral-600: #c1c1c0ff;
  --neutral-700: #b6b6b5ff;
  --neutral-800: #ababa9ff;
  --neutral-900: #a0a09dff;
  --orange-100: #fdf49aff;
  --orange-200: #fcf091ff;
  --orange-300: #fdec8eff;
  --orange-400: #fde889ff;
  --orange-500: #fde385ff;
  --orange-600: #fede81ff;
  --orange-700: #fed97dff;
  --orange-800: #ffd378ff;
  --orange-900: #ffcd74ff;
  --green-100: var(--brand-Light-Green);
  --green-200: #a2d18dff;
  --green-300: #95cb83ff;
  --green-400: var(--brand-Medium-Green);
  --green-500: #76ba6fff;
  --green-600: #67b165ff;
  --green-700: #5ca85fff;
  --green-800: #579b5fff;
  --green-900: rgb(67, 122, 74);
  --purple-100: var(--brand-Light-Purple);
  --purple-200: #987dbfff;
  --purple-300: #8c69b8ff;
  --purple-400: #7f51b1ff;
  --purple-500: #74439fff;
  --purple-600: #67388bff;
  --purple-700: #5a2d76ff;
  --purple-800: #4c2360ff;
  --purple-900: var(--brand-Purple);
  --blue-green-100: #40616eff;
  --blue-green-200: #365965ff;
  --blue-green-300: #2d505cff;
  --blue-green-400: var(--brand-Blue-Green);
  --blue-green-500: #1d3d47ff;
  --blue-green-600: #16333cff;
  --blue-green-700: #0e2e34ff;
  --blue-green-800: #0b252a;
  --blue-green-900: #041f20ff;
  --blue-green-1000: #011418;
  --blue-100: #87d4e9ff;
  --blue-200: #6fbee0ff;
  --blue-300: #59a6d6;
  --blue-400: #448bca;
  --blue-500: var(--brand-RM-Blue);
  --blue-600: #3163a0ff;
  --blue-700: #28568dff;
  --blue-800: #204979;
  --blue-900: var(--brand-RM-Dark-Blue);
  --grid-color: var(--op-color-neutral-plus-four);
  --dark-gradient: linear-gradient(
    -135deg,
    var(--blue-green-800) 10%,
    var(--blue-green-900) 50%
  );
  --light-gradient: linear-gradient(
    90deg,
    var(--brand-Bright-Yellow),
    var(--brand-Bright-Blue),
    var(--brand-Light-Purple),
    var(--brand-Bright-Blue),
    var(--brand-Medium-Green)
  );
  ::selection {
    background-color: var(--brand-Light-Purple);
    color: var(--blue-green-900);
  }
}

[data-theme-mode='dark'] {
  --op-color-neutral-h: 193;
  --op-color-neutral-s: 10%;
  --op-color-neutral-l: 2%;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme-mode='light']) {
    --op-color-neutral-h: 193 !important;
    --op-color-neutral-s: 10% !important;
    --op-color-neutral-l: 2% !important;
    --op-color-primary-l: 80% !important;
  }
}
