/* -------------------------------------------------
   Import Optics Design System
   ------------------------------------------------- */

@import '../styles/shadows.css';
@import '../styles/utilities.css';

/* -------------------------------------------------
   Optics overrides + app globals
   ------------------------------------------------- */

:root {
  --op-font-family: 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', sans-serif;
  --op-color-primary-h: 208;
  --op-color-primary-s: 56%;
  --op-color-primary-l: 53%;
  --op-shadow-color: #0000000d;
}

/* -------------------------------------------------
   Global Helpers
   ------------------------------------------------- */

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: -0.04em;
}

.icon-sm {
  width: 16px;
  height: 16px;
}

.btn svg {
  stroke-width: 2;
}

.inner-shadow {
  box-shadow: inset 0 2px 4px 0 var(--op-shadow-color);
}

/* Loading animation */
@keyframes blink {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

.loading-dots span {
  animation: blink 1.4s infinite;
}

.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

/* Card component */
.card {
  background-color: var(--op-color-background);
  overflow: hidden;
  color-scheme: light dark;
}

.card-header {
  padding: var(--op-space-medium) var(--op-space-large);
  border-bottom: 1px solid var(--op-color-border);
  background-color: var(--op-color-neutral-plus-seven);
}

.card-body {
  padding: var(--op-space-large);
}

/* Alert component */
.alert {
  padding: var(--op-space-medium);
  border-radius: var(--op-radius-medium);
  border: 1px solid var(--op-color-border);
}

.badge--outline {
  border-color: var(--op-color-border);
  border-width: 1px;
  border-style: solid;
  border-radius: var(--op-radius-small);
  padding: var(--op-space-2x-small) var(--op-space-small);
  font-size: var(--op-font-small);
  font-weight: 500;
  color: var(--op-color-neutral-on-plus-max) !important;
  background-color: var(--op-color-background) !important;
}

.contents {
  width: 100%;
}
.gradient {
  filter: blur(16px);
  /* opacity: 0.9; */
  pointer-events: none;
  z-index: 0;
  background-image: linear-gradient(
    90deg,
    #8c69b8,
    #b3d99a,
    #fde385,
    #87d4e9,
    #8c69b8,
    #b3d99a
  );
  height: 0.75rem;
  position: absolute;
  left: 16px;
  right: 16px;
  top: 90%;
}
