.cta {
  background-color: var(--blue-green-1000);
  /* background-image: url(/images/halftone_swirl.svg); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  color: white;
  padding: calc(var(--op-size-unit) * 20) 0;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (max-width: 768px) {
  .cta {
    min-height: unset;
  }
}

.halftone {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.halftone canvas {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100% !important;
  height: 100% !important;
}
.container {
  text-align: left;
  max-inline-size: var(--op-breakpoint-small) !important;
  position: relative;
  z-index: 1;
}

.title {
  margin-bottom: var(--op-space-large);
  font-size: clamp(var(--op-font-2x-large), 5vw, calc(var(--op-font-scale-unit) * 7.2));
  line-height: 1.1;
  font-weight: var(--op-font-weight-bold);
}

.title-highlight {
  color: var(--brand-Bright-Blue);
  font-weight: var(--op-font-weight-bold);
}

.subtitle {
  font-size: clamp(var(--op-font-large), 5vw, var(--op-font-2x-large));
  color: var(--op-color-white);
  margin: 0 auto;
  opacity: 0.8;
  font-weight: var(--op-font-weight-normal);
}

.form {
  display: grid;
  gap: var(--op-space-x-large);
  margin: 0 auto;
  justify-items: start;
}

.form-card {
  background-color: var(--brand-teal);
  padding: var(--op-space-x-large) 0;
  width: 100%;
  max-width: calc(var(--op-size-unit) * 175);
  border-radius: var(--op-radius-large);
}

.form-fields {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: var(--op-space-medium);
  margin-bottom: var(--op-space-large);
  max-width: 180rem;
}

.input {
  font-size: var(--op-font-x-large);
  height: var(--op-space-3x-large);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--blue-100);
  border-radius: 0;
  box-shadow: none;
  color: var(--op-color-white);
  background-color: transparent;
  padding: var(--op-space-x-small);
  outline: none;
  width: 100%;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form-button {
  width: 100%;
  font-size: var(--op-font-x-large);
  box-shadow: none;
}

@media (max-width: 768px) {
  .form-button {
    width: fit-content;
    align-self: end;
  }
}

.form-button-continue {
  width: fit-content;
  font-size: var(--op-font-x-large);
  box-shadow: none;
}

.footer {
  padding-top: var(--op-space-x-large);
}

.footer-text {
  color: #9ca3af;
}

.footer-text-highlight {
  color: var(--brand-Bright-Blue);
}

/* Mobile styles */
@media (max-width: 768px) {
  .title {
    font-size: var(--op-font-5x-large);
  }

  .form-fields {
    grid-template-columns: 1fr;
    justify-items: stretch;
    max-width: 100%;
  }
}
