.hero {
  background-color: var(--blue-green-1000);
  background-image: url(/images/halftone.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  min-height: 90vh;
  display: flex;
  align-items: center;
  padding: calc(var(--op-size-unit) * 40) var(--op-space-large);
  position: relative;
  transition: font-size 0.3s ease-in-out;
  border-bottom: var(--op-space-x-small) solid var(--purple-100);
  pointer-events: auto;
}

.heroNoBackground {
  background-color: transparent;
  background-image: none;
  border-bottom: none;
}

.logo {
  position: absolute;
  top: var(--op-space-large);
  left: var(--op-space-large);
  z-index: 100;
  border-radius: var(--op-radius-small);
  overflow: hidden;
}

.container {
  z-index: 1;
}

.title {
  margin-bottom: var(--op-space-large);
  line-height: 1.1;
  font-weight: 600;
  font-size: calc(var(--op-font-scale-unit) * 10);
  text-shadow: 10px 10px 49px var(--blue-green-800);
}

.title-highlight {
  font-weight: var(--op-font-weight-semibold);
  position: relative;
  background: linear-gradient(
    to right,
    var(--brand-Bright-Blue) 30%,
    var(--brand-Bright-Yellow)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: none;
}

.circle {
  position: relative;
}

.highlight-circle {
  position: absolute;
  inset: 0;
  bottom: calc(var(--op-size-unit) * -2.5);
  width: 105%;
  height: 110%;
  top: 0;
  transform: rotate(-180deg);
}

.subtitle {
  font-size: clamp(var(--op-font-large), 5vw, var(--op-font-2x-large));
  color: #d1d5db;
  max-width: 80%;
  margin-bottom: var(--op-space-x-large);
}

.actions {
  display: flex;
  gap: var(--op-space-large);
}

.time-estimate {
  display: flex;
  align-items: center;
  gap: var(--op-space-x-small);
  color: var(--bright-yellow);
  font-family: var(--geist-mono);
}

.tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--op-space-large);
  width: 100%;
}

.tile {
  background-color: var(--blue-green-1000);
  padding: var(--op-space-medium);
  border-radius: var(--op-radius-medium);
  border: 1px solid rgba(147, 197, 253, 0.4);
  display: flex;
  gap: var(--op-space-small);
}

.tile-icon {
  color: var(--green-300);
  font-size: var(--op-font-x-large);
  margin-top: var(--op-space-x-small);
}

.tile-content {
  display: flex;
  flex-direction: column;
}

.tile-title {
  color: white;
  margin-bottom: var(--op-space-2x-small);
  font-size: var(--op-font-2x-large);
}

.tile-description {
  color: #9ca3af;
  margin-bottom: 0;
}

/* Mobile styles */
@media (max-width: 768px) {
  .hero {
    min-height: auto;
  }

  .title {
    font-size: calc(0.6rem * 9);
  }

  .tiles {
    grid-template-columns: 1fr;
  }
}
