.how-it-works {
  padding: calc(var(--op-size-unit) * 48) 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: light-dark(
    var(--op-color-neutral-plus-six),
    var(--op-color-neutral-plus-max)
  );
}

.container {
  max-width: calc(var(--op-size-unit) * 350);
  z-index: 4;
}

.header {
  text-align: left;
  margin-bottom: var(--op-space-3x-large);
}

.title {
  margin-bottom: var(--op-space-medium);
  font-size: calc(var(--op-font-scale-unit) * 5);
  font-weight: 700;
  line-height: var(--op-line-height-dense);
  letter-spacing: -0.05em;
}

.subtitle {
  font-size: var(--op-font-x-large);
  color: var(--op-color-on-background-alt);
}

.steps {
  display: grid;
  gap: var(--op-space-x-large);
  max-width: unset;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.step {
  position: relative;
  border-radius: var(--op-radius-medium);
  padding: var(--op-space-medium);
}

.step-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  padding: var(--op-space-medium);
  border-radius: var(--op-radius-medium);
  height: 100%;
  z-index: 3;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--op-space-medium);
  position: relative;
  padding: var(--op-space-small);
}

.step-number {
  position: absolute;
  top: var(--op-space-small);
  right: var(--op-space-2x-small);
  color: var(--blue-green-900);
  width: var(--op-space-x-large);
  height: var(--op-space-x-large);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--op-font-medium);
  font-weight: bold;
}

.step-title {
  margin-bottom: var(--op-space-small);
  font-size: var(--op-font-2x-large);
}

.step-description {
  color: var(--op-color-white);
  opacity: 0.6;
}

.cta {
  margin-top: var(--op-space-x-large);
  max-width: calc(var(--op-size-unit) * 200);
  text-align: left;
}

/* Tablet styles */
@media (max-width: 1024px) {
  .header {
    text-align: center;
  }

  .steps {
    grid-template-columns: 1fr 1fr;
    margin: 0;
    max-width: unset;
  }

  .cta {
    margin-top: var(--op-space-x-large);
    margin-inline: auto;
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .steps {
    grid-template-columns: 1fr;
  }
}
